.page__logged{
    display: none;
}

.flexbox{
    display: flex;

    &__sub{
        display: flex;
        flex-direction: row;
    }
}


.header{
    height: 37vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2sSSSSS)), url(/img/lol.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar{
    width: 15vw;
    flex: 1 1 auto;
}
.main{
    width: 85vw;
    background-color: $color-light;
    min-height: 800px;
}
